<div id="content">
<!--  <script type="text/json" id="bootstrap">
    { 'contacts': <%= #@contacts.to_json %> }
  </script>
  
  <script type="text/javascript">
    $(function() {
      var div, data;
      
      div = $('<div/>');
      div.html($('#bootstrap').text());
      data = JSON.parse(div.text());
      
      Everybody.initialize(data);
    });
  </script>
-->
</div>

