<div id="content">
  <div id="addContact">
    <a href="#">Add new contact</a>
  </div>
  <section id="contacts">
    <header>
      <section id="filter"><label>Show:</label></section>
      <section id="search">Search here...</section>
      <section id="contactsList"></section>
    </header>
  </section>
Loading...
</div>
