<div id="content">
  <section id="add_contact"><a href="#contacts/new">Add contact</a></section>
  <section id="contacts_wrapper">
    <header>
      <section id="filter"><label>Show:</label></section>
      <section id="search">Search here...</section>
      <section id="contacts"></section>
    </header>
  </section>
</div>
