<form class="contact-form">
  <label for="name">Name</label>
  <input name="name" value="<%= contact.escape('name') %>">
  <label for="name">Name</label>
  <input name="group" value="<%= contact.escape('group') %>">
  <input type="submit" value="Save"/>
</form>
