<section id="add_contact">
  <a href="#">Add new contact</a>
  <form id="new_contact">
    <label for="name">Name</label>
    <input type="text" id="name"/>
    <label for="group">Group</label>
    <input type="text" id="group"/>
    <input type="submit" value="Save"/>
    <a href="#" id="new_contact_cancel">Cancel</a>
  </form>
</section>
<section id="contacts">
  <header>
    <section id="filter">
      <label>Show:</label>
      <select>
        <option value="all">All</option>
      </select>
    </section>
    <section id="search">Search here...</section>
  </header>
  <ul id="contacts_list"></ul>
</section>
