<!DOCTYPE html>
<html>
<head>
  <title>Everybody::Know your contacts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Everybody</h1>
  </header>
  
  <%= yield %>

</body>
</html>
